@model ProyectoDistribuidora.Models.Usuarios

@{
    ViewData["Title"] = "Edit";
}

<h5>Editar Usuarios</h5>
<hr />


<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">

            <div class="card">
                <div class="card-header">
                    <p class="card-title">Formulario para editar usuarios</p>
                </div>
                <div class="card-body">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Cedula" />
                        <div class="form-group">
                            <label asp-for="TipoCedula" class="control-label"></label>
                            <input asp-for="TipoCedula" class="form-control" />
                            <span asp-validation-for="TipoCedula" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NombreCompleto" class="control-label"></label>
                            <input asp-for="NombreCompleto" class="form-control" />
                            <span asp-validation-for="NombreCompleto" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Telefono" class="control-label"></label>
                            <input asp-for="Telefono" class="form-control" />
                            <span asp-validation-for="Telefono" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Direccion" class="control-label"></label>
                            <input asp-for="Direccion" class="form-control" />
                            <span asp-validation-for="Direccion" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FechaIngreso" class="control-label"></label>
                            <input asp-for="FechaIngreso" class="form-control" />
                            <span asp-validation-for="FechaIngreso" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Contrasena" class="control-label"></label>
                            <input asp-for="Contrasena" class="form-control " />
                            <span asp-validation-for="Contrasena" class="text-danger"></span>
                        </div>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("1"))
                        {
                            <div class="form-group">
                                <label asp-for="IdRol" class="control-label"></label>
                                <input asp-for="IdRol" class="form-control" />
                                <span asp-validation-for="IdRol" class="text-danger"></span>
                            </div>
                        }
                        <div class="form-group">
                            <input type="submit" value="Guardar" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
            <div>
                <a asp-action="ListaUsuarios" style="font-size:15px">Volver a la Lista</a>
            </div>
        </div>
    <div class="col-sm-4"></div>
</div>
</div>
<hr />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
