/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


#imagenback {
    background-image:url(../css/imagenes/Borrar-02.png);
    background-size: cover;
    background-position: center;
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    
    font-weight: bold;
}

.btn {
    font-size: 12px;
    width: 74px;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: black;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

#box_lista {
    height: auto;
    width: 100%;
    padding: 40px;
    margin: auto;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    display: inline-block;
    width:100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/*Menu Principal*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.nav-item{
    color:black !important;
}

nav {
    max-width: 100%;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
    padding: 100px;
    height: 300px;
    color: black;
    font-weight: bold;
}

    nav ul {
        text-align: center;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 25%, rgba(255, 255, 255, 0.6) 75%, rgba(255, 255, 255, 0) 100%);
        margin-top: 100px;
        color: black;
    }

        nav ul li {
            display: inline-block;
            margin-left:20px;
            margin-right:20px;
        }

            nav ul li a {
                padding: 10px;
                font-family: "Open Sans";
                font-size: 25px;
                text-decoration: none;
                display: block;
                color: black !important;
            }

                nav ul li a:hover {
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
                    background: rgba(255, 255, 255, 0.9);
                    color: rgba(0, 35, 122, 0.7);
                }
/*Div iniciar sesion**/
#IniciarSesion {
    font-family: "Open Sans";
    color: rgba(0, 35, 122, 0.5);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    font-size: 18px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid #5878ca;
    width: 200px;
    height: 50px;
    margin: 0px 0px 0px 650px;
}
.Panel {
    margin: 0 auto;
    width: auto;
    padding : 1em;
    border: 1px solid #dedede;
    border-radius: 1em;
    text-align: center;
    color: #393939;
    box-shadow: 5px 5px 5px rgba(25,0,0,25);
}